.contact {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 40px;
}

.contact-card {
  padding: 20px;
  width: 25rem;
  background-color: #232528;
  box-shadow: 5px 5px 15px #ffffff;
  border-radius: 10px;
  color: #fff;
}

.contact-col {
  margin-right: 60px;
}

.image {
  height: 300px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
}

.icons {
  margin-top: 20px;
}

.icon_card {
  margin-top: 20px;
  height: 50px;
  width: 55px;
}

.icon_card:hover {
  transition: 0.9s;
  background-color: #ff014f;
}

.icon_image {
  margin-top: -10px;
  height: 20px;
  width: 20px;
  transition: 0.5s;
}

.icon_image:hover {
  transform: scale(1.4);
  cursor: pointer;
}

.email {
  text-decoration: none;
  color: #fff;
}

.email:hover,
.phone:hover {
  color: #ff014f;
  transition: 0.5s;
}

@media (max-width: 430px) {
  .contact {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .contact-col {
    margin-right: 0px;
  }

  .image {
    height: 250px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
  }

  .contact-card {
    width: 100%;
    margin-bottom: 40px;
    box-shadow: 3px 3px 14px #ffffff;
  }
}

@media (min-width: 200px) and (max-width: 321px) {
  .image {
    height: 150px;
    width: 230px;
  }

  .icon_card {
    height: 40px;
    width: 45px;
  }

  .icon_image {
    margin-top: -23px;
    margin-left: -5px;
    height: 20px;
    width: 20px;
    transition: 0.5s;
  }

  .mobile,
  .mail {
    font-size: 12px;
  }
}

@media (min-width: 374px) and (max-width: 376px) {
  .image {
    width: 300px;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .contact-card {
    width: 100%;
    margin-bottom: 50px;
    box-shadow: 3px 3px 14px #ffffff;
  }

  .ajay {
    font-size: 45px;
    margin-bottom: 15px;
  }

  .designation {
    font-size: 25px;
    font-style: italic;
  }

  .mobile,
  .mail {
    font-size: 21px;
  }

  .contact-col {
    margin-right: 0px;
  }

  .image {
    width: 100%;
    height: 440px;
    padding: 20px;
    border-radius: 30px;
  }
}
